<div class="headline">
	Tasks List
	<button type="button" class="btn btn-default pull-right" data-ng-click="create()">
		<i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Create Task
	</button>
</div>

<h2 data-ng-repeat="task in tasks" data-ta-item="task"></h2>

<script type="text/ng-template" id="taskCreateModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Create a New Task</h3>
	</div>
	<div class="modal-body">
		<textarea class="form-control" name="description" data-ng-model="task.description" placeholder="Description" autofocus> </textarea>
		<input type="text" class="form-control" name="category" data-ng-model="task.category" placeholder="Category">
		<input type="text" class="form-control" name="payment" data-ng-model="task.payment" placeholder="Payment">
		<input type="text" class="form-control" name="deadline" data-ng-model="task.deadline" placeholder="Deadline">
		<input type="text" class="form-control" name="zip" data-ng-model="task.zip" placeholder="Zip Code">
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>